# Space Titanic Analysis Project ü™ê

## Call in the Libraries üìö

In [1]:
# This is for data maniputlation and exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Call in the DataSets üìÅ

In [5]:
# these are the two data sets that we are going to explore
train_df = pd.read_csv('../raw_data/train.csv')
test_df = pd.read_csv('../raw_data/test.csv')
sample_sub_df = pd.read_csv('../raw_data/sample_submission.csv')

In [3]:
test_df.head(1)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning

In [4]:
train_df.head(1)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False

In [6]:
sample_sub_df.head(1)

  PassengerId  Transported
0     0013_01        False

## Data Exploration üî≠